
<div class="oma-asiointi">
  {% if unread %}
    <div class="container">
      <section aria-label="Notification" class="hds-notification hds-notification--alert">
        <div class="hds-notification__content">
          <div class="hds-notification__label" role="heading" aria-level="2">
            <span class="hel-icon hel-icon--alert-circle-fill" aria-hidden="true"></span>
            <span>{{ "New message"|t }}</span>
          </div>
          {% for msg in unread %}
            <div class="hds-notification__body">
              {{ msg }}
            </div>
          {% endfor %}
        </div>
      </section>
    </div>
  {% endif %}
  <div class="container oma-asiointi-infoboxes-container">
    <h2>{{ "Information about grants and instructions for the applicant"|t }}</h2>
    <div class="oma-asiointi-infoboxes">
      <div class="oma-asiointi-infobox">
        <h3>{{ "Find your grant"|t }}</h3>
        <p>{{ "Go to view different grants and find yours. <strong>Please remember to check your information before proceeding to the application.</strong>"|t }}</p>
        <div class="oma-asiointi-infobox--link">
          <a href="">{{ "Information about grants"|t }}</a> <span class="hel-icon hel-icon--arrow-right hel-icon--size-m" aria-hidden="true"></span>
        </div>
      </div>
      <div class="oma-asiointi-infobox">
        <h3>{{ "Check out the general instructions"|t }}</h3>
        <p>{{ "Take a look at the instructions, which tell you in more detail about the things to consider when applying for a grant."|t }}</p>
        <div class="oma-asiointi-infobox--link">
          <a href="">{{ "Instructions for applicants"|t }}</a> <span class="hel-icon hel-icon--arrow-right hel-icon--size-m" aria-hidden="true"></span>
        </div>
      </div>
    </div>
  </div>
  {{ drafts }}
  {{ others }}
</div>
